@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.profile {
    font-family: "Poppins", sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column; 
    border-radius: 10px;

    .profileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .headerTittle {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #526D82;
    }

    .edit {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background: #dde6ed;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #526D82;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            background: #cbd5e1;
        }
    }

    .userProfile {
        flex: 1;
        background: #dde6ed;
        border-radius: 9px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;

        .userDetail {
            font-family: "Poppins", sans-serif;
            width: 100%;
            margin: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0rem;

            .userImage {
                background: #fff;
                border-radius: 50%;
                overflow: hidden;
                width: 50%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .username {
                font-family: "Poppins", sans-serif;
                font-size: 20px;
                font-weight: 600;
                color: #526D82;
                text-align: center;
            }

            .profession {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                color: #7d8ca3;
            }
        }

        .listCards {
            font-family: "Poppins", sans-serif;
            width: 100%;
            background: #fff;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;

            .card {
                font-family: "Poppins", sans-serif;
                background: #f1f5f9;
                border-radius: 8px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                cursor: pointer;

                .cardDetail {
                    font-family: "Poppins", sans-serif;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .cardCouver {
                        font-family: "Poppins", sans-serif;
                        font-size: 24px;
                        color: #526D82;
                    }
                }
            }
        }
    }
}
