@import '../../app/styles/variaveis.scss';

.dashboard {
    display: flex;
    gap: 10px;
    padding: 5px;
    height: 100vh;
    //background-color: #f1f1f1;
    background-color: #0F1431;
  }
  
  .dashboardContent {
    background: #fff;
    flex: 1;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    gap: 20px;
    //box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  