.headerClient {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.titleClient {
  color: #526d82;
  font-size: 25px;
  margin-right: 30px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.textStatus {
  color: #526d82;
  font-size: 17px;
  font-weight: 500;
  margin-right: -30px;
}

.select {
  border-radius: 10px;
  border: 1px solid #dde6ed;
  padding: 8px;
  background-color: #dde6ed;
  color: #526d82;
}

.button {
  background-color: #526d82;
  color: #dde6ed;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}


.container {
  border-radius: 8px;
  margin-top: 15px;
  width: 100%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.login {
  display: flex;
  justify-content: center; 
}

.login form {
  width: 100%;
  max-width: 500px; 
}

.input {
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  border-radius: 8px;
  border: 2px solid var(--gray-100);
  background: var(--white);
  padding: 0 10px;
  color: var(--dark-900);
  font-size: 16px;
   margin: 8px;
}


